
.examples {
  text-align: center;
  margin: 0 auto;
}

.examples-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.example {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.example-div {
  margin: 0 auto;
}

.example-flexed-div {

}

.caption {
  text-align: left;
}